<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ronaldo.mapper.AppMapper">
	<select id="getApp" parameterType="int" resultType="AppVo">
        SELECT * FROM App natural join Company WHERE appID = #{appID} ;
    </select>
    <select id="getAppList" resultType="AppVo">
        SELECT * FROM App natural join Company;
    </select>
    <select id="getEnableAppList"  parameterType="boolean" resultType="CompanyVo">
        SELECT * FROM App natural join Company WHERE appEnable = #{appEnable}
    </select>
 	<select id="registApp" parameterType="AppVo">
       	INSERT INTO App 
       	(appName,companyID,appURL,appImagePath,appPackage) 
       	VALUES
       	(#{appName},#{companyID},#{appURL},#{appImagePath},#{appPackage})
    </select>
    <update id="deleteApp" parameterType="int">
       DELETE FROM App WHERE appID = #{appID} 
    </update>
    <update id="updateApp" parameterType="AppVo">
		UPDATE App
		set appName = #{appName},companyID = #{companyID},appURL = #{appURL}
		,appImagePath = #{appImagePath},appPackage = #{appPackage},appEnable = #{appEnable}
		where appID = #{appID}
    </update> 
</mapper>