<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ronaldo.mapper.UserMapper">

 	<insert id="registUser" parameterType="UserVo">
      	INSERT INTO User (userEmail,userKey,userPassword,userCoin,userMoney) 
      	VALUES (#{userEmail},#{userKey},#{userPassword},#{userCoin},#{userMoney})
     </insert>
     
    <select id="getUserList" resultType="UserVo">
        SELECT * FROM User
    </select>
    
    <update id="updateUser" parameterType="UserVo">
		UPDATE User
		set userCoin = #{userCoin},userMoney =#{userMoney}
		where userID = #{userID}
    </update>
    
    <select id="getUser" parameterType="String" resultType="UserVo">
        SELECT * FROM User WHERE userKey = #{userKey} 
    </select>
</mapper>