<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ronaldo.mapper.UserEventMapper">
	<insert id="registUserEvent" parameterType="UserEventDTO">
       	INSERT INTO UserEvent 
       	(userID,appEventID)
       	VALUES
       	(#{userID},#{appEventID})
    </insert>
     <update id="updateUserEvent" parameterType="UserEventDTO">
		UPDATE UserEvent
		set userID = #{userID},appEventID = #{appEventID},userEventEnable = #{userEventEnable}
		where userEventID = #{userEventID}
    </update> 
    <select id="getUserEventList" parameterType="int" resultType="UserEventDTO">
        SELECT * FROM UserEvent WHERE userID = #{userID}
    </select>
    <delete id="deleteUserEvent" parameterType="int">
        DELETE FROM UserEvent WHERE userEventID = #{userEventID}
    </delete>
    <select id="getUserEvent" parameterType="UserEventDTO" resultType="UserEventDTO">
        SELECT * FROM UserEvent WHERE userID = #{userID} and appEventID = #{appEventID}
    </select>
</mapper>